<html xmlns:th="http://www.thymeleaf.org">

<head>

<title>Enermex</title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<style>

table {

  margin:0 auto;

}

</style>

</head>

<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

	<table id="Tabla_01" style="margin-top:100px" width="100%" height="490" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<th><img  src="https://drive.google.com/uc?id=1F8Mqxu-w8YsZVFgwz42319eG0LtAP9j5&export=download" width="100%" height="144" alt=""></th>
		</tr>
	
		<tr width="80%" height="100">
	        <th style='color:#F7901D; margin:0 auto; '  th:text="${encabezado}"></th>
	    </tr>
	      <tr>
	       <th style=" font-size:100%; margin:0 auto; ">
	       <p th:text="${cuerpo}">Test</p>
	        </th> 
		</tr>
	    <tr>
	        <th>
	          <a href="https://fastgastest.000webhostapp.com/" style="background-color: #00A3D7;padding: 20px 80px; cursor: pointer;margin-bottom: 20px;border: none; color: #ffffff;border-radius: 20px;font-size: 100%">Ver sitio</a>  
	        </th>
	    </tr>
		<tr>
			<th style="background-color:#001C33; ">
				<p style="width: 80%; text-align:center; margin:0 auto; background-color:#04345a; margin-top: 10px; color:#ffffff; font-size: 80%;">Fast gas Targa Fuels S.A de C.V 2020 Derechos reservados</p>
		</tr>
	</table>

</body>

</html>